<div class="container vertical-center">
    <div class="row">
      <div class="col-md-6">
          <img class="img-responsive" src="http://p.fod4.com/p/media/c45c617183/EGr5kZ4mTKGYDIXP8qWZ_Drogon%20Fire%20Breath.gif"/>
      </div>
        <div class="col-md-6">
            <div class="error-template">
                <h1>
                    Oops!</h1>
                <h2>
                    404 Not Found</h2>
                <div class="error-details">
                    Sorry, seems silly <strong>Dracarys</strong> ate your page!
                </div>
                <div class="error-actions">
                    <a href="/" class="btn btn-primary btn-lg"><span class="glyphicon glyphicon-home"></span>
                        Take Me Home </a>
                        <a href="/" class="btn btn-default btn-lg"><span class="glyphicon glyphicon-envelope"></span> Contact Support </a>
                </div>
            </div>
        </div>
    </div>
</div>
