<div class="page login-page">
  <div class="container">
    <div class="form-outer text-center d-flex align-items-center">
      <div class="form-inner">
        <div class="logo text-uppercase"><span>Dash</span><strong class="text-primary">Express</strong></div>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.</p>
        <form id="login-form" method="post">
          <div class="form-group">
            <label for="login-username" class="label-custom">User Name</label>
            <input id="login-username" type="text" name="loginUsername" required="">
          </div>
          <div class="form-group">
            <label for="login-password" class="label-custom">Password</label>
            <input id="login-password" type="password" name="loginPassword" required="">
          </div><a id="login" href="index.html" class="btn btn-primary">Login</a>
          <!-- This should be submit button but I replaced it with <a> for demo purposes-->
        </form><a href="#" class="forgot-pass">Forgot Password?</a><small>Do not have an account? </small><a href="register.html" class="signup">Signup</a>
      </div>
      <div class="copyrights text-center">
        <!--<p>Design by Bootstrapious</a></p>-->
      </div>
    </div>
  </div>
</div>